<h1>Create a new Game</h1>
<form action="/games" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
    </div>
    <div>
        <label for="genre">Genre</label>
    </div>
    <div>
        <label for="release-year">Release Year</label>
    </div>
    <div>
        <label for="publisher">Publisher</label>
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>