<h1>All Publishers</h1>
{{#each publishers}}
    <div>
        {{#if this.publisher}}
        <p>Name: {{ this.publisher.name }}</p>
        <p>Location: {{ this.publisher.location }}</p>
        {{/if}}
    </div>
{{/each}}